.details{
    background-image: url('../../assets/img/246c532c0876cd404ad4b4265e659ace.jpeg');
    color:white;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    
}
.table{
    color:white
}